doctype html
html
  include views/header
  body
    .col-lg-12
      .container-full
        include views/nav
        .container
          a#test(href='javascript:void(0);') Click to test Requirejs
        include views/footer
    script(data-main='assets/js/main', src='assets/js/libs/requirejs/require.js')
    