doctype html
html
  include views/header
  body
    .col-lg-12
      .container-full
        include views/nav
        .container
          a#test(href='javascript:void(0);') Click to test Requirejs
        include views/footer
    script(src='//code.jquery.com/jquery-2.1.1.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js')
    script(src='assets/js/main.js')
    