- var page = "Sample Page"
doctype html
html(lang="en-US")
  include views/header
  body
    .container-full.page
      include views/nav
      include views/footer
    include views/privacy-policy
    include views/javascript-libs