doctype html
html(lang="en-US")
  include views/head
  body.home
    include views/header
    h1.title 404
    p Not found
    include views/footer
    include views/privacy-policy          
    include views/javascript-libs