- page = "Home"
include views/_mixins
doctype html
html(lang="en-US")
  include views/head
  body.home
    include views/header
    .container-fluid
      section.section
        h1 Welcome 
          i.fas.fa-camera
        .app
    include views/footer
    include views/javascript-libs
