doctype html
html(lang="en-US")
  include views/header
  body
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12.col-lg-offset-0.col-md-offset-0.col-sm-offset-0.col-xs-offset-0
    h1 Hello
    a.btn.btn-primary(href="javascript:void(0);") Test
    include views/javascript-libs