doctype html
html(lang="en-US")
  include views/head
  body.home
    .container-fluid
      include views/header
      section.section
        h1 Welcome
      include views/footer
      include views/privacy-policy          
      include views/javascript-libs
