.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    .privacy-policy-and-copyright
      span &copy; #{new Date().getFullYear()}
      span &nbsp;|&nbsp;
      a.privacy-policy(href="javascript:void(0);", data-target="#privacyPolicy", data-toggle="modal") Privacy Policy