footer.text-center
  .copyright 
    script. 
      document.write("&copy;"+(new Date().getFullYear())+" Nonprofit Knowledge Works");
  span &nbsp;|&nbsp;
  a(href="https://www.datacenterresearch.org/privacy-policy/", target="_blank") Privacy Policy
