footer
  .privacy-and-copyright
    .row
      .col
        p
          span &copy; #{new Date().getFullYear()}
          span &nbsp;|&nbsp;
          a(href="javascript:void(0);", data-target="#privacyPolicy", data-toggle="modal") Privacy Policy