.menu
  .pull-right
      a.close-menu(href="javascript:void(0);")
        i.fa.fa-close
  .clearfix
  ul
    li 
      a(href="index.html") Home
    li 
      a(href="backpage.html") Backpage
  .row#nav
    .col-lg-12.col-md-12.col-sm-12.col-xs-12.nav-wrapper
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.col-lg-offset-0.col-md-offset-0.col-sm-offset-0.col-xs-offset-0
          nav
            a(href="/")
              img.img.img-reponsive.pull-left.logo(src="assets/images/logo.png")
            .pull-right
              a.search-button(href="javascript:void(0);")
                i.fa.fa-search
              a.menu-button(href="javascript:void(0);")
                i.fa.fa-bars
