// Modal
#privacyPolicy.modal.fade(tabindex='-1', role='dialog', aria-labelledby='privacyPolicyModalLiveLabel', style='display: none;', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLiveLabel.modal-title Privacy Policy
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        h4 Security
        p The servers that house this site, and its web properties, are maintained in a manner that safeguards the information in our databases effectively.
        h4 Personal Information
        p Unless you voluntarily provide us with any personal information, such as your e-mail address, this site does not collect personal information about you without your knowledge. When you visit our site, we collect the following information:
        ul
          li The name of the domain from which you access the Internet (for example, #[a(href="https://www.aol.com", target="_blank") aol.com])
          li The date and time you access our site.
          li The Internet address of the web site from which you linked directly to our site or the Internet address of the computer used to link to our site.
          li This information is used for Site Management purposes and to target ads to 3rd party sites.
        p NOTICE: Unless you choose to provide such information, we do not collect or maintain personal information about you when you visit our site. If you send us an e-mail message or complete a web form containing personal information, we collect and store the personal information which you choose to provide, such as your mailing address, e-mail address, the content of any request for information, and any comments you may submit.
        h4 Use of Information
        p If you choose to provide any personal information, such as your e-mail address, mailing address or phone number, we may use that information to contact you.
        h4 3rd Party Advertising Cookies Opt-Out
        p In addition to developing our privacy policy, we have provided you the opportunity to opt out of future 3rd party advertising cookies.
        p This site may allow third parties to place cookies on our site for advertising purposes. This Privacy Policy does not cover the collection methods or use of the information collected by these vendors. These vendors have their own privacy policies and may be members of the #[a(href="https://www.networkadvertising.org/", target="_blank") Network Advertising Initiative] ("NAI").  To remove yourself from some or all NAI member advertising programs, please visit the #[a(href="https://www.networkadvertising.org/choices/", target="_blank") NAI Opt-Out Page] and follow the relevant instructions.  Please note that if you delete, block, or otherwise restrict cookies, or if you use a different computer or Internet browser, you may need to renew your opt-out choice.
        p Not withstanding anything else in this policy, we or a data provider we have engaged may place or recognize a unique cookie on your browser to enable you to receive customized ads or content. These cookies contain no personally identifiable information. The cookies may reflect de-identified demographic or other data linked to data you voluntarily have submitted to us, e.g., your email address, that we may share with a data provider solely in hashed, non-human readable form. To opt-out of these cookies, please go to#[a(href="https://www.aboutads.info/choices", target="_blank") https://www.aboutads.info/choices].
      .modal-footer
        button.btn.btn-secondary(type='button', data-dismiss='modal') Close
