head
  title Test Project
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  // Bootstrap
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css')
  link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')
  link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
  link(rel='stylesheet', href='assets/js/libs/flipster/src/css/jquery.flipster.css')
  link(rel='stylesheet', href='assets/styles/css/style.css')
  style(type='text/css')
  script(src='assets/js/libs/modernizr/modernizr.js')
  