$primary1: rgba(0, 47, 69, 1);
$primary1hex: #002f45;
$primary2: rgba(74, 101, 118, 1);
$primary2hex: #4a6576;
$primary3: rgba(104, 146, 171, 1);
$primary3hex: #6892ab;
$primary4: rgba(171, 225, 250, 1);
$primary4hex: #abe1fa;
$primary5: rgba(212, 239, 252, 1);
$primary5hex: #d4effc;

$secondaryblue100: rgba(22, 110, 149, 1);
$secondaryblue100hex: #166e95;
$secondaryblue80: rgba(82, 129, 164, 1);
$secondaryblue80hex: #5281a4;
$secondaryblue60: rgba(122, 152, 181, 1);
$secondaryblue60hex: #7a98b5;
$secondaryblue40: rgba(161, 180, 201, 1);
$secondaryblue40hex: #a1b4c9;
$secondaryblue20: rgba(204, 212, 224, 1);
$secondaryblue20hex: #ccd4e0;

$secondaryteal100: rgba(53, 163, 155, 1);
$secondaryteal100hex: #35a39b;
$secondaryteal80: rgba(104, 176, 171, 1);
$secondaryteal80hex: #68b0ab;
$secondaryteal60: rgba(142, 192, 189, 1);
$secondaryteal60hex: #8ec0bd;
$secondaryteal40: rgba(178, 210, 207, 1);
$secondaryteal40hex: #b2d2cf;
$secondaryteal20: rgba(214, 229, 228, 1);
$secondaryteal20hex: #d6e5e4;

$secondarygreen100: rgba(93, 137, 60, 1);
$secondarygreen100hex: #5d893c;
$secondarygreen80: rgba(122, 153, 87, 1);
$secondarygreen80hex: #7a9957;
$secondarygreen60: rgba(150, 172, 122, 1);
$secondarygreen60hex: #96ac7a;
$secondarygreen40: rgba(181, 194, 158, 1);
$secondarygreen40hex: #b5c29e;
$secondarygreen20: rgba(214, 220, 201, 1);
$secondarygreen20hex: #d6dcc9;

$secondarylime100: rgba(158, 178, 59, 1);
$secondarylime100hex: #9eb23b;
$secondarylime80: rgba(179, 190, 93, 1);
$secondarylime80hex: #b3be5d;
$secondarylime60: rgba(194, 204, 132, 1);
$secondarylime60hex: #c2cc84;
$secondarylime40: rgba(213, 218, 168, 1);
$secondarylime40hex: #d5daa8;
$secondarylime20: rgba(232, 234, 208, 1);
$secondarylime20hex: #e8ead0;

$secondaryyellow100: rgba(241, 193, 43, 1);
$secondaryyellow100hex: #f1c12b;
$secondaryyellow80: rgba(244, 208, 93, 1);
$secondaryyellow80hex: #f4d05d;
$secondaryyellow60: rgba(246, 218, 134, 1);
$secondaryyellow60hex: #f6da86;
$secondaryyellow40: rgba(249, 228, 172, 1);
$secondaryyellow40hex: #f9e4ac;
$secondaryyellow20: rgba(251, 240, 210, 1);
$secondaryyellow20hex: #fbf0d2;

$secondaryorange100: rgba(239, 129, 44, 1);
$secondaryorange100hex: #ef812c;
$secondaryorange80: rgba(243, 151, 83, 1);
$secondaryorange80hex: #f39753;
$secondaryorange60: rgba(246, 175, 120, 1);
$secondaryorange60hex: #f6af78;
$secondaryorange40: rgba(249, 200, 160, 1);
$secondaryorange40hex: #f9c8a0;
$secondaryorange20: rgba(252, 225, 203, 1);
$secondaryorange20hex: #fce1cb;

$secondaryochre100: rgba(230, 94, 63, 1);
$secondaryochre100hex: #e65e3f;
$secondaryochre80: rgba(234, 125, 93, 1);
$secondaryochre80hex: #ea7d5d;
$secondaryochre60: rgba(239, 154, 125, 1);
$secondaryochre60hex: #ef9a7d;
$secondaryochre40: rgba(244, 185, 162, 1);
$secondaryochre40hex: #f4b9a2;
$secondaryochre20: rgba(249, 218, 208, 1);
$secondaryochre20hex: #f9dad0;

$secondarymagenta100: rgba(230, 28, 67, 1);
$secondarymagenta100hex: #e61c43;
$secondarymagenta80: rgba(234, 90, 92, 1);
$secondarymagenta80hex: #ea5a5c;
$secondarymagenta60: rgba(238, 131, 123, 1);
$secondarymagenta60hex: #ee837b;
$secondarymagenta40: rgba(244, 169, 159, 1);
$secondarymagenta40hex: #f4a99f;
$secondarymagenta20: rgba(249, 210, 202, 1);
$secondarymagenta20hex: #f9d2ca;

$secondaryviolet100: rgba(177, 63, 128, 1);
$secondaryviolet100hex: #b13f80;
$secondaryviolet80: rgba(189, 102, 148, 1);
$secondaryviolet80hex: #bd6694;
$secondaryviolet60: rgba(202, 136, 169, 1);
$secondaryviolet60hex: #ca88a9;
$secondaryviolet40: rgba(216, 171, 193, 1);
$secondaryviolet40hex: #d8abc1;
$secondaryviolet20: rgba(233, 210, 221, 1);
$secondaryviolet20hex: #e9d2dd;

$secondarypurple100: rgba(113, 38, 110, 1);
$secondarypurple100hex: #71266e;
$secondarypurple80: rgba(133, 76, 129, 1);
$secondarypurple80hex: #854c81;
$secondarypurple60: rgba(115, 112, 152, 1);
$secondarypurple60hex: #737098;
$secondarypurple40: rgba(181, 150, 179, 1);
$secondarypurple40hex: #b596b3;
$secondarypurple20: rgba(212, 196, 212, 1);
$secondarypurple20hex: #d4c4d4;

$tertiaryblue100: rgba(0, 47, 69, 1);
$tertiaryblue100hex: #002f45;
$tertiaryblue80: rgba(44, 73, 94, 1);
$tertiaryblue80hex: #2c495e;
$tertiaryblue60: rgba(84, 104, 124, 1);
$tertiaryblue60hex: #54687c;
$tertiaryblue40: rgba(129, 143, 159, 1);
$tertiaryblue40hex: #818f9f;
$tertiaryblue20: rgba(182, 189, 200, 1);
$tertiaryblue20hex: #b6bdc8;

$tertiarygreen100: rgba(66, 85, 53, 1);
$tertiarygreen100hex: #425535;
$tertiarygreen80: rgba(94, 108, 81, 1);
$tertiarygreen80hex: #5e6c51;
$tertiarygreen60: rgba(126, 135, 112, 1);
$tertiarygreen60hex: #7e8770;
$tertiarygreen40: rgba(238, 200, 158, 1);
$tertiarygreen40hex: #eec89e;
$tertiarygreen20: rgba(200, 204, 194, 1);
$tertiarygreen20hex: #c8ccc2;

$tertiaryyellow100: rgba(215, 137, 44, 1);
$tertiaryyellow100hex: #d7892c;
$tertiaryyellow80: rgba(223, 159, 83, 1);
$tertiaryyellow80hex: #df9f53;
$tertiaryyellow60: rgba(231, 178, 119, 1);
$tertiaryyellow60hex: #e7b277;
$tertiaryyellow40: rgba(254, 213, 167, 1);
$tertiaryyellow40hex: #fed5a7;
$tertiaryyellow20: rgba(246, 224, 200, 1);
$tertiaryyellow20hex: #f6e0c8;

$tertiarygold100: rgba(249, 157, 51, 1);
$tertiarygold100hex: #f99d33;
$tertiarygold80: rgba(251, 175, 93, 1);
$tertiarygold80hex: #fbaf5d;
$tertiarygold60: rgba(253, 194, 129, 1);
$tertiarygold60hex: #fdc281;
$tertiarygold40: rgba(254, 213, 167, 1);
$tertiarygold40hex: #fed5a7;
$tertiarygold20: rgba(255, 232, 207, 1);
$tertiarygold20hex: #ffe8cf;

$tertiaryorange100: rgba(244, 118, 64, 1);
$tertiaryorange100hex: #f47640;
$tertiaryorange80: rgba(246, 143, 96, 1);
$tertiaryorange80hex: #f68f60;
$tertiaryorange60: rgba(249, 169, 129, 1);
$tertiaryorange60hex: #f9a981;
$tertiaryorange40: rgba(252, 196, 165, 1);
$tertiaryorange40hex: #fcc4a5;
$tertiaryorange20: rgba(254, 224, 206, 1);
$tertiaryorange20hex: #fee0ce;

$tertiaryred100: rgba(168, 72, 55, 1);
$tertiaryred100hex: #a84837;
$tertiaryred80: rgba(182, 102, 83, 1);
$tertiaryred80hex: #b66653;
$tertiaryred60: rgba(196, 132, 113, 1);
$tertiaryred60hex: #c48471;
$tertiaryred40: rgba(213, 167, 151, 1);
$tertiaryred40hex: #d5a797;
$tertiaryred20: rgba(230, 205, 195, 1);
$tertiaryred20hex: #e6cdc3;
