@import "_bootstrap-mods";
@import "_fonts"; 
@import "_variables"

@function calculateRem($size) {
  $remSize: $size / 16px;
//Default font size on html element is 100%, equivalent to 16px;
  @return #{$remSize}rem;
}

// Mixin that will include the fall back px declaration as well as the calculated rem value.
@mixin fontSize($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

.menu {
  background-image: linear-gradient( 90deg, rgb(125,110,177) 0%, rgb(77,195,207) 100%);
  background-repeat: no-repeat;
  right: -100vw;
  height: 100%;
  position: fixed;
  width: 100vw;
  heigth: 100vh;
  z-index: 999;
  .close-menu {
    display: inline-block;
    margin: calculateRem(20px);
    font-size: 4rem;
    color: white;
  }
  ul {
    padding: 0;
    list-style: none;
    margin: calculateRem(30px) auto;
    text-align: center;
    li {
      a {
        color: white;
        font-size: 3.75rem;
        font-weight: 700;
        line-height: 5.625rem;
        @media screen and (max-width: calculateRem(1023px)) {
          font-size: 1.75rem;
          font-weight: 700;
          line-height: 2.625rem;
        }
      }
    }
  }
}
